* {
  box-sizing: border-box;
}

form {
  margin-left: 350px;
  width: 500px;
  border: 1px solid lightgrey;
}

.entirePage {
}

.heading {
  background: #468CC8;
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dropDown {
  margin-bottom: 20px;
  .form {
    width: 400px;
  }
}

.commentBox {
  .form {
    width: 400px;
  }
  margin-bottom: 20px;
}

.other {
  margin-bottom: 20px;
  .otherInfo {
    width: 400px;
  }
}

// .dropDown {
//   width: 90%;
// }
//
// .commentBox {
//   width: 90%;
// }
//
// .other {
//   width: 90%;
// }
//
.bottom {
  background: #CADEEF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  background: #468CC8;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 14px;
  border: 0px;
  margin-left: 20px;
  border-radius: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
}
