* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

form {
  margin-left: 350px;
  width: 500px;
  border: 1px solid lightgrey;
}

.heading {
  background: #468CC8;
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  font-size: 30px;
}

.container {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 2;
  position: relative;
}

.dropDown {
  margin-bottom: 20px;
  .language {
    width: 400px;
  }
}

.commentBox {
  .form {
    width: 400px;
    padding-left: 30px;

  }
  margin-bottom: 20px;
}

.other {
  margin-bottom: 20px;
}
.smallIcon {
  position: absolute;
  margin-top: 10px;
  left: 10px;
  color: grey;
}
.other{

}
.otherInfo {
  width: 400px;
  padding-left: 30px;
}


.bottom {
  background: #CADEEF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  background: #468CC8;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
  border: 0px;
  margin-left: 20px;
  border-radius: 2px;
}
